[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "==4.7.0.72"
numpy = "==1.24.2"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.6"
